# Zig build artifacts/cache/etc
.zig-cache/
zig-out/
*.o

# Testing
test/
massif.out.*

# Env/config
.env
.env.json

# Certs
/*-certs
*.pem

# Editor confs
.vscode/

# Includes
.github

# Scratch/temp/misc
notes.txt
*.bak*
*.old*
*old/
/*.txt
scratch/
_scratch/
